<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>登录--layui后台管理模板 2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/layer-v3.1.1/layer/theme/default/layer.css}"/>
</head>
<body class="loginBody">
<!--<video class="video-player" preload="auto" autoplay="autoplay" loop="loop" data-height="1080" data-width="1920"-->
       <!--height="1080" width="1920">-->
    <!--<source th:src="@{/static/video/login.mp4}" type="video/mp4">-->
    <!--&lt;!&ndash; 此视频文件为支付宝所有，在此仅供样式参考，如用到商业用途，请自行更换为其他视频或图片，否则造成的任何问题使用者本人承担，谢谢 &ndash;&gt;-->
<!--</video>-->
<form class="layui-form">
    <div class="login_face"><img th:src="@{/static/images/head.png}" class="userAvatar"/></div>
    <div class="layui-form-item input-item">
        <label for="userName">用户名</label>
        <input type="text" placeholder="请输入用户名" id="userName" class="layui-input"
               lay-verify="required" required="true">
    </div>
    <div class="layui-form-item input-item">
        <label for="password">密码</label>
        <input type="password" placeholder="请输入密码" id="password" class="layui-input"
               lay-verify="required" required="true">
    </div>
    <div class="layui-form-item input-item" id="imgCode">
        <label>验证码</label>
        <input type="text" id="verifyCode" placeholder="请输入验证码" autocomplete="off" class="layui-input"
               lay-verify="required" required="true">
        <img src="/getVerifyImg" id="verifyImg" onclick="this.src='/getVerifyImg?d='+new Date()*1">
    </div>
    <div class="layui-form-item" style="margin-bottom: 20px;">
        <input type="checkbox" id="rememberMe" name="rememberMe" lay-skin="primary" title="记住密码">
        <a href="forget.html" class="layadmin-user-jump-change layadmin-link" style="margin-top: 7px;">忘记密码？</a>
    </div>
    <div class="layui-form-item">
        <button class="layui-btn layui-block" lay-filter="login" lay-submit onclick="login();">登录</button>
    </div>
    <!--<div class="layui-form-item layui-row">-->
    <!--<a href="javascript:;" class="seraph icon-qq layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4"></a>-->
    <!--<a href="javascript:;" class="seraph icon-wechat layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4"></a>-->
    <!--<a href="javascript:;" class="seraph icon-sina layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4"></a>-->
    <!--</div>-->
    <div class="layui-form-item">
        <span id="error_info" style="width: 100%;color: #ff0000;text-align: center;"></span>
    </div>
</form>
<!--为了登录验证引入了jQuery-validate ，也必须引入jQuery，虽然layui已经继承了jquery-->
<script type="text/javascript" th:src="@{/static/js/depTree.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery-3.1.1.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery-validation/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery-validation/localization/messages_zh.min.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/layer-v3.1.1/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/service/login2.js}"></script>
<script type="text/javascript" th:src="@{/static/js/cache.js}"></script>
</body>
</html>